@import 'fonts';
@import 'costom';
@import 'normalize';

body {
    padding-top: 90px;
    background: #F8F8F8;
}

.hover-show:hover {
    .dropdown-menu {
        display: block;
    }
}

.header {
    background: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(10px);
    height: 90px;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    transition: transform .25s linear;
    &-image {
        background: url(../images/bg-header.png) no-repeat left center;
        background-size: cover;
    }
    .container {
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .toggle-menu {
        display: none;
        cursor: pointer;
        i {
            font-size: 30px;
        }
    }
    .lang {
        position: absolute;
        left: -80px;
        height: 100%;
        .btn-group {
            height: 100%;
        }
        .dropdown-toggle {
            display: flex;
            align-items: center;
            height: 100%;
            cursor: pointer;
        }
        .dropdown-menu {
            transform: translate3d(-35px, 90px, 0px) !important;
            border-top: none;
            min-width: 125px;
            border-radius: 0;
            background-color: rgba(255, 255, 255, 0.97);
            a {
                width: 100%;
                margin-bottom: 10px;
            }
        }
    }
    .logo {
        width: 156px;
        img {
            width: 100%;
        }
    }
    .feedback {
        display: flex;
        align-items: center;
        .icon {
            margin-right: 19px;
            width: 43px;
            img {
                width: 100%;
            }
            &:nth-child(1) {
                display: block;
            }
            &:nth-child(2) {
                display: none;
            }
        }
        .buttons {
            display: flex;
            flex-direction: column;
            a {
                line-height: 150%;
                display: flex;
                align-items: center;
                color: #000000;
                &:nth-child(1) {
                    font-size: 17px;
                    font-weight: bold;
                }
                &:nth-child(2) {
                    font-size: 14px;
                }
            }
        }
    }
    .menu {
        height: 100%;
        margin-left: 0;
        padding-left: 0;
        display: flex;
        align-items: center;
        a, .dropdown-toggle {
            display: flex;
            align-items: center;
            font-weight: 500;
            font-size: 15px;
            line-height: 150%;
            color: #000000;
            height: 100%;
        }
        .active {
            border-bottom: 2px solid #E31E24;
            color: #E31E24;
        }
        li {
            margin-left: 40px;
            list-style-type: none;
            height: 100%;
            cursor: pointer;
            user-select: none;
            &:nth-child(1) {
                margin-left: 0;
                margin-right: 25px;
            }
        }
        .dropdown-menu {
            transform: translate3d(-40px, 90px, 0px) !important;
            border-top: none;
            min-width: 190px;
            border-radius: 0;
            background-color: rgba(255, 255, 255, 0.97);
            li {
                margin: 0;
            }
            a {
                width: 100%;
                margin-bottom: 10px;
            }
        }
    }
}
.header.hide {
    transform: translateY(-90px);
}
.offcanvas {
    &-start {
        top: 0;
        left: 0;
        width: 80%;
    }
    &-body {
        padding: 1rem 2rem;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .accordion {
        &-button {
            padding: 1rem 0rem;
            &:focus {
                z-index: 3;
                border-color: none;
                outline: 0;
                box-shadow: none;
            }
            &:not(.collapsed) {
                color: #E31E24;
                background-color: white;
            }
        }
    }
    ul {
        margin-left: 0;
        padding-left: 0;
    }
    li {
        list-style-type: none;
        padding-bottom: 1rem;
    }
    .menu {
        margin-bottom: 20px;
        a,button {
            font-weight: 500;
            font-size: 18px;
            line-height: 150%;
            color: #000000;
        }
        .active {
            border-bottom: 2px solid #E31E24;
            color: #E31E24;
        }
    }
    .lang {
        margin-bottom: 20px;
        display: flex;
        li {
            margin-right: 20px;
        }
        a {
            font-weight: 500;
            font-size: 18px;
            line-height: 150%;
            color: #000000;
        }
        .active {
            border-bottom: 2px solid #E31E24;
            color: #E31E24;
        }
    }
    .logo {
        width: 120px;
        img {
            width: 100%;
        }
    }
    .feedback {
        // position: absolute;
        // bottom: 0;
        // background: white;
        padding-top: 10px;
        padding-bottom: 40px;
        display: flex;
        align-items: center;
        .icon {
            margin-right: 19px;
            width: 43px;
            img {
                width: 100%;
            }
            &:nth-child(1) {
                display: block;
            }
            &:nth-child(2) {
                display: none;
            }
        }
        .buttons {
            display: flex;
            flex-direction: column;
            a {
                line-height: 150%;
                display: flex;
                align-items: center;
                color: #000000;
                &:nth-child(1) {
                    font-size: 17px;
                    font-weight: bold;
                }
                &:nth-child(2) {
                    font-size: 14px;
                }
            }
        }
    }
}

.banner {
    padding: 150px 0 165px;
    position: relative;
    .banner-slider {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        .slick-list, .slick-track {
            height: 100% !important;
        }
    }
    .bg {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .title {
        width: 590px;

        font-weight: bold;
        font-size: 48px;
        line-height: 135%;
        color: #FFFFFF;

        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .text {
        padding: 50px 0;

        font-weight: 500;
        font-size: 22px;
        line-height: 150%;
        color: #FFFFFF;

        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .btn {
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        color: #FFFFFF;
        background: #D93724;

        width: 229px;
        height: 60px;
        opacity: 1;
        transition: .4s;
        border-radius: 0;
        &:hover {
            opacity: .9;
        }
    }
    .banner-slider-dots {
        width: 100%;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 40px;
    }
    
    .slick-dots {
        display: flex;
        align-items: center;
        li {
            background: #C1C1C1;
            border-radius: 50%;
            margin: 0 14px;
            width: 10px;
            height: 10px;
            cursor: pointer;
            list-style-type: none;
            button {
                display: none;
            }
        }
        .slick-active {
            width: 14px;
            height: 14px;
            background: none;
            border: 3px solid #E31E24;
        }
    }
}

.title {
    font-weight: 600;
    font-size: 25px;
}
.title-hr {
    margin-top: 25px;

    height: 2px;
    width: 50px;
    background: #E31E24;
}

.arrow-link {
    position: relative;

    display: flex;
    align-items: center;

    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #E31E24;

    opacity: 1;
    transition: .4s;

    cursor: pointer;
    i {
        font-size: 15px;
        margin-left: 9px;
        transition: .4s;
    }
    &:hover {
        color: #E31E24;
        opacity: .9;
        i {
            margin-left: 18px;
        }
    }
}

.about {
    margin-top: 165px;
    margin-bottom: 80px;
    .container {
        display: flex;
        justify-content: space-between;
    }
    .title {
        width: 600px;
    }
    .title-hr {
        margin-top: 20px;
        margin-bottom: 15px;
    }
    .text {
        width: 551px;
        margin-bottom: 47px;

        font-weight: normal;
        font-size: 15px;
        line-height: 150%;
        span {
            color: #E31E24;
        }
        li {
            margin-left: 20px;
        }
    }
    .images {
        width: 591px;
        height: 498px;  
        position: relative;
        img {
            position: absolute;
            right: 0;
            top: 0;

            width: 537px;
            height: 440px;
            object-fit: contain;
        }
        .shadow-img {
            position: absolute;
            left: 0;
            bottom: 0;

            width: 297px;
            height: 384px;
            z-index: -1;
            background: #FFCDCF;
        }
    }
    .items {
        margin-top: 80px;
        width: 591px;
    }
    .item {
        display: flex;
        align-items: center;
        margin-bottom: 40px;
        position: relative;
        .text {
            margin-left: 85px;

            margin-bottom: 0;
        }
    }
    .icon {
        position: absolute;
        width: 65px;
        height: 65px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #E31E24;
        border-radius: 50%;
        color: white;
        i {
            font-size: 30px;
        }
        img {
            width: 28px;
        }
    }
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services {
    margin-bottom: 100px;
    .title-hr {
        margin-bottom: 60px;
    }
    .items {
        display: flex;
        align-items: start;
        justify-content: space-between;
    }
    .number {
        position: absolute;
        right: -8px;
        bottom: 0;
        
        font-weight: 600;
        font-size: 80px;
        line-height: 55px;
        color: #F8F8F8;
    }
    .name {
        font-weight: 600;
        font-size: 17px;
        line-height: 130.9%;
        height: 78px;
        margin-bottom: 20px;
    }
    .text {
        margin-bottom: 30px;

        font-size: 15px;
        line-height: 150%;
        height: 135px;
        overflow: hidden;
    }
    .arrow-link {
        margin-bottom: 44px;
    }
    .hr {
        position: absolute;
        left: 0;
        bottom: 0;

        height: 2px;
        width: 86px;
        background: #E31E24;
        transition: .4s;
    }
    .item {
        position: relative;
        width: 380px;
        height: 436px;

        padding: 22px 35px;

        background: white;
        transition: .4s;
        &:hover {
            transform: scale(1.1);
            .hr {
                width: 185px;
            }
        }
    }
}

.advantage {
    margin-bottom: 92px;
    .title {
        &,span {
            font-weight: 600;
            font-size: 36px;
            line-height: 150%;
            color: #000000;
        }
        span {
            border-bottom: 2px solid #E31E24;
        }
    }
    .text {
        width: 90%;
        margin-top: 22px;
        margin-bottom: 20px;

        font-size: 18px;
        line-height: 150%;
    }
    .slider {
        position: relative;
        width: 100%;
        height: 600px;
    }
    .slider-box {
        width: 95%;
        border: 1px solid #CDCDCD;
    }
    .item {
        display: flex;
        width: 100%;
    }
    .advantage-slider {
        width: 63%;
    }
    .image {
        width: 63%;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .shadow-item {
        position: absolute;
        right: 0;
        bottom: 0;

        width: 507px;
        height: 497px;      
        z-index: -1;
        background: #FFCDCF;
    }
    .info {
        padding: 45px 16px 45px 26px;
        width: 37%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: white;
        .item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .icon {
                display: flex;
                justify-content: center;
                width: 82px;
                height: 45px;
                margin-right: 20px;
                img {
                    height: 100%;
                }
            }
            .text {
                width: 286px;
                margin-top: 0;
                margin-bottom: 0;
            }
        }
    }
    &-slider-arrows {
        position: absolute;
        display: flex;
        bottom: 0;
    }
    .arrows {
        position: absolute;
        bottom: -70px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50px;

        color: #E31E24;
        font-size: 20px;

        width: 46px;
        height: 46px;

        cursor: pointer;
        border: 1px solid #D0D0D0;
        box-sizing: border-box;
        transition: .4s;
        &:hover {
            border: 1px solid #E31E24;
        }
    }
    .advantage-left {
        left: 0%;
    }
    .advantage-right {
        left: 10%;
    }
    .slick-disabled {
        border: none;
        cursor: no-drop;
    }
}

.partners {
    margin-bottom: 117px;
    &__slider {
        position: relative;
        margin-top: 35px;
        .arrows {
            position: absolute;
            bottom: -40px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50px;

            color: #E31E24;
            font-size: 20px;

            width: 46px;
            height: 46px;

            cursor: pointer;
            border: 1px solid #D0D0D0;
            box-sizing: border-box;
            transition: .4s;
            &:hover {
                border: 1px solid #E31E24;
            }
        }
        .partners-left {
            left: 47%;
            transform: translateX(-47%);
        }
        .partners-right {
            left: 53%;
            transform: translateX(-53%);
        }
    }
    .text {   
        font-size: 18px;
        line-height: 150%;
    }
    .item {
        margin: 10px 15px 30px;
        display: flex;
        justify-content: center;
        .box {
            width: 178px;
            height: 178px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
    
            background: white;
            box-shadow:  0px 5px 10px rgba(0, 0, 0, 0.25);
        }
        transition: .4s;
        img {
            width: 80%;
            height: 80%;
            // object-fit: contain;
            object-fit: none;
        }
        &:hover {
            transform: scale(1.1);
        }
    }
    .slick-track {
        display: flex;
        justify-content: space-between;
    }
}

.participation {
    margin-bottom: 80px;

    .title-hr {
        margin-bottom: 55px;
    }
    .text {
        font-size: 15px;
        line-height: 178.5%;
        ul {
            padding-left: 50px;
        }
    }
}

.news {
    margin-bottom: 66px;
    .title-hr {
        margin-bottom: 40px;
    }
    .item {
        margin: 0 15px;
        width: 370px;
        height: 389px;
        background: white;
        .image {
            width: 100%;
            img {
                width: 100%;
                object-fit: contain;
            }
        }
        .info {
            padding: 17px 32px;
        }
    }
    .date {
        font-size: 13px;
        line-height: 16px;
    }
    .text {
        margin: 12px 0;

        font-weight: 600;
        font-size: 15px;
        line-height: 150%;

        height: 68px;
        overflow: hidden;
    }
    .news-slider-dots {
        margin-top: 53px;
    }
    .slick-dots {
        display: flex;
        align-items: center;
        li {
            background: #C1C1C1;
            border-radius: 50%;
            margin: 0 7px;
            width: 4px;
            height: 4px;
            cursor: pointer;
            list-style-type: none;
            button {
                display: none;
            }
        }
        .slick-active {
            width: 6px;
            height: 6px;
            background: #E31E24;
        }
    }
}

.contact {
    margin-bottom: 65px;

    .container {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .maps {
        width: 80%;
        height: 486px;
        iframe {
            width: 100%;
            height: 100%;
        }
    }
    .info {
        position: absolute;
        right: 0;
        padding: 44px 26px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        width: 379px;
        height: 330px;

        background: #FFFFFF;
        box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.09);
    }
    .item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .icon {
            width: 43px;
            img {
                width: 100%;
            }
        }
        .description {
            display: flex;
            flex-direction: column;
            width: 254px;
        }
    }
    .description,a {
        font-size: 16px;
        line-height: 150%;   
    }
    a {
        color: #000000;
        opacity: 1;
        transition: .4s;
        &:hover {
            opacity: .6;
        }
    }
}

.footer {
    background: #333333;
    &-hr {
        height: 1px;
        width: 100%;
        background: #5F5F5F;
    }
    &-top {
        padding: 40px 0;
        min-height: 185px;
        width: 100%;
        .content {
            display: flex;
            align-items: center;
            &:nth-child(1) {
                justify-content: space-between;
                margin-bottom: 30px;
            }
            &:nth-child(2) {
                justify-content: center;
            }
        }
    }
    &-bottom {
        min-height: 77px;
        width: 100%;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        a {
            font-size: 13px;
            line-height: 16px;
            color: #FFFFFF;
            opacity: .6;
            transition: .4s;
            &:hover {
                opacity: 1;
            }
        }
    }
    .text {
        font-weight: 300;
        font-size: 15px;
        color: #FFFFFF;
        opacity: .7;
    }
    .network {
        display: flex;
        align-items: center;
        .icon {
            margin-left: 13px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: #444444;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: .4s;
            &:hover {
                background: #E31E24;
            }
        }
    }
    .menu {
        display: flex;
        align-items: center;
        margin-left: 0;
        padding-left: 0;
        li {
            list-style-type: none;
        }
        a,.dropdown-toggle {
            margin: 0 40px;
            font-weight: 500;
            font-size: 15px;
            color: #FFFFFF;
            opacity: 1;
            transition: .4s;
            cursor: pointer;
            user-select: none;
            &:hover {
                opacity: .6;
            }
        }
        .dropdown-item {
            margin: 0;
        }
        .dropdown-menu-dark {
            margin-top: 24px;
            margin-left: 40px;
            background-color: #3e3e3e;
        }
    }
    .logo {
        width: 156px;
        img {
            width: 100%;
        }
    }
}

.navigation {
    .navbar {
        padding: 42px 0 71px;
        display: flex;
        align-items: center;
        justify-content: start;
    }
    a,i,span {
        font-size: 15px;
        color: #000000;
        opacity: .5;
    }
    i {
        font-size: 5px;
        margin: 0 15px;
    }
    span {
        opacity: 1;
    }
    .title-page {
        margin-bottom: 42px;
    }
}

.purchases-page {
    .image {
        max-width: 100%;
        margin-bottom: 22px;
        height: 292px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 70% center;
        }
    }
    .item {
        margin-bottom: 74px;
    }
    .name {
        font-weight: 600;
        font-size: 18px;
        color: #D93724;
        margin-bottom: 24px;
    }
    .description {
        width: 60%;
        font-size: 15px;
        line-height: 178.5%;
        margin-bottom: 23px;
    }
    .buttons {
        display: flex;
        align-items: center;
    }
    a {
        font-weight: 600;
        font-size: 16px;
        color: #F6C143;
        margin-right: 150px;
        span {
            margin-left: 11px;
            text-decoration-line: underline;
        }
    }
}

.news-page {
    margin-top: 70px;
    margin-bottom: 60px;
    .image {
        float: left;
        width: 47%;
        margin: 0 30px 20px 0;
        img {
            width: 100%;
        }
    }
    .date {
        font-size: 13px;
        margin-bottom: 15px;
    }
    .name {
        font-weight: 600;
        font-size: 18px;
        line-height: 150%;
        margin-bottom: 15px;
    }
    .text {
        font-size: 15px;
        line-height: 178.5%;
    }
}

.contact-banner {
    max-width: 100%;
    margin-bottom: 45px;
    img {
        width: 100%;
        max-height: 598px;
    }
}
.contact-page {
    padding-top: 62px;
    .block {
        margin-bottom: 120px;
    }
    .items {
        margin-top: 45px;
    }
    .item {
        margin-bottom: 70px;
        display: flex;
    }
    .image {
        width: 298px;
        height: 383px;
        margin-right: 70px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .name {
        font-weight: 600;
        font-size: 18px;    
        margin-bottom: 4px;
        text-transform: uppercase;
    }
    .position {
        font-weight: 600;
        font-size: 16px;
        color: #6C6C6C;
        margin-bottom: 20px;
    }
    .text,a {
        font-size: 15px;
        line-height: 178.5%;
        color: #000000;
        display: flex;
        flex-direction: column;
    }
    a {
        opacity: 1;
        &:hover {
            opacity: .6;
        }
    }
    .box {
        display: flex;
        align-items: center;
        margin-bottom: 25px;
    }
    .icon {
        display: flex;
        align-items: center;
        img {
            margin-right: 17px;
        }
        width: 235px;
    }
    .content {
        width: 282px;
    }
}
.contact-maps {
    max-width: 100%;
    iframe {
        width: 100%;
        height: 486px;
    }
}

.services-page {
    padding-top: 62px;
    .text {
        font-size: 15px;
        line-height: 150%;
        li {
            margin-left: 20px;
        }
    }
    .items {
        margin-top: 90px;
    }
    .item {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 94px;
        .info {
            margin-right: 40px;
        }
        &:nth-child(2n) {
            flex-direction: row-reverse;
            .info {
                margin-right: 0px;
                margin-left: 40px;
            }
        }
    }
    .info {
        width: 65%;
        position: relative;
    }
    .number {
        font-weight: 600;
        font-size: 80px;
        line-height: 98px;
        color: #FFE0DC;
        position: absolute;
        left: -110px;
        top: -15px;
    }
    .name {
        font-weight: 600;
        font-size: 18px;
        line-height: 130.9%;
        margin: 23px 0;
    }
    .image {
        width: 40%;
        img {
            width: 100%;
        }
    }
}

.about-banner {
    position: relative;
    height: 335px;
    .image {
        max-width: 100%; 
        width: 100%;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    .title {
        position: absolute;
        z-index: 1;
        top: 60px;
        left: 50%;
        transform: translateX(-50%);
        font-weight: 600;
        font-size: 48px;
        color: white;
        text-align: center;
    }
}
.about-page {
    position: relative;
    .container {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        height: 100%;
    }
    .navbar {
        position: absolute;
        left: -100px;
        height: 100%;
        padding-top: 62px;
        padding-bottom: 87px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
        width: 25%;
        background: #333333;
        button,a {
            font-size: 16px;
            margin-bottom: 28px;
            color: #FFFFFF;
            opacity: .5;
            width: 80%;
        }
        .active {
            font-weight: bold;
            text-decoration-line: underline;
            opacity: 1;
        }
    }
    .navbarToggle {
        display: none;
        position: fixed;
        top: 340px;
        font-size: 30px;
        left: 0;
        background: #333333;
        border-radius: 0 10px 10px 0;
        color: white;
    }
    .content-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .content {
        padding-top: 62px;
        padding-bottom: 87px;
        width: 78%;

        font-size: 15px;
        line-height: 178.5%;
        .info {
            margin-right: 20px;
        }
        .images {
            .title {
                line-height: 25px;
            }
        }
        .image-block {
            float: right;
            margin-left: 20px;
            margin-bottom: 20px;
            width: 35%;
        }
        .image-staff {
            width: 45%;   
        }
        span {
            font-weight: 500;
            font-size: 15px;
            color: #D93724;
        }
        .name {
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            color: #D93724;
            margin-bottom: 25px;
        }
        .title-hr {
            margin-bottom: 38px;
        }
        .maps {
            width: 100%;
            img {
                width: 100%;
            }
        }
        .custom {
            list-style-image: url(../images/icons/type.svg);
            li {
                margin-bottom: 30px;
            }
        }
        li {
            margin-left: 20px;
            padding-left: 10px;
        }
        .managements {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
        }
        .management {
            width: 246px;
            margin-right: 30px;
            margin-bottom: 30px;
            .image {
                width: 100%;
                height: 313px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
            .name {
                color: #000000;
                margin: 10px 0;
            }
            .position { 
                font-weight: 600;
                font-size: 14px;
                color: #6C6C6C;
            }
        }
        .files {
            display: flex;
            flex-wrap: wrap;
        }
        .file {
            width: 235px;
            margin-right: 30px;
            margin-bottom: 30px;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .image-to {
            display: flex;
            flex-wrap: wrap;
        }
        .image {
            width: 235px;
            margin-right: 30px;
            margin-bottom: 30px;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        .certificates {
            display: flex;
            flex-wrap: wrap;
        }
        .certificate {
            width: 200px;
            margin-right: 12px;
            margin-bottom: 20px;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .link {
            font-weight: 600;
            color: #0017E7;
            opacity: 1;
            transition: .4s;
            &:hover {
                opacity: .7;
            }
        }
    }
    .block-with-2 {
        display: flex;
    }
    .line {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .col6 {
            width: 49.7%;
        }
        .col12 {
            width: 100%;
        }
    }
    .form-box {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    .form {
        margin: 100px 0 20px;
        width: 100%;
        .form-title {
            font-weight: 600;
            font-size: 25px;
            color: #000;
            margin-bottom: 50px;
        }
        span {
            font-weight: 600;
            font-size: 25px;
            color: #000;
            border-bottom: 1px solid #D93724;
        }
        .col6, .col12 {
            background: #FFFFFF;
            border: 1px solid #ADADAD;
            padding: 28px 31px;
            margin-bottom: 9px;
            &:focus {
                outline: none;
            }
        }
        button {
            width: 208px;
            height: 73px;
            color: #FFFFFF;
            background: #D93724;
        }
        .file-upload {
            label {
                font-size: 18px;
                color: #D93724;
                img {
                  width: 20px;
                  height: 20px;
                }
            }
            #upload-photo {
                opacity: 0;
                position: absolute;
                z-index: -1;
                left: -100%;
            }
        }
        .form-check {
            user-select: none;
            font-weight: 500;
            font-size: 15px;
            color: #717171;
            .form-check-input {
                &:checked {
                    background-color: #D93724 !important;
                    border-color: #D93724 !important;
                }
                &:focus {
                    border-color: none;
                    outline: 0;
                    box-shadow: none;
                }
            }
        }
    }
    .about-box {
        height: 440px;
    }
    .about-slider {
        width: 72%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        right: 0;
    }
    
}
#offcanvasExample-navbar {
    
    background: #333333;
    a {
        font-size: 16px;
        margin-bottom: 28px;
        color: #FFFFFF;
        opacity: .5;
        width: 80%;
    }
    .active {
        font-weight: bold;
        text-decoration-line: underline;
        opacity: 1;
    }
    .logo {
        width: 120px;
        opacity: 1;
        margin-bottom: 0;
    }
    .btn-close {
        background: none;
        opacity: 1;
        i {
            color: white;
        }
    }
}

@import 'media';
