<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/png" href="img/logo.svg"/>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue2-touch-events@3.2.2/index.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Qaz Fasad</title>
  </head>

  <body>

    <main id="app" ref="infoBox">
      <div class="dark-wrapper"  :class="{'dark-wrapper-active': isDarkWrapper}"></div>
      
      <header class="header">
        <div class="container">
          <a href="index.html" class="header__logo">
            <img src="img/logo.svg" alt="">
          </a>
          <div class="header__menu">
            <a href="company.html">О компании</a>
            <a href="products.html">Продукция</a>
            <a href="#">Документы</a>
            <a href="#">Инструкции</a>
            <a href="objects.html">Наши объекты</a>
            <a href="contact.html">Контакты</a>
          </div>
          <div class="header__phone-group">
            <a href="tel:+7 777 011 0222" class="header__phone">
              <img src="icons/call.svg" alt="">
              <span>+7 777 011 0222</span>
            </a>
            <div class="btn-group">
              <div class="header__phone" id="dropdownMenuClickableInside" data-bs-toggle="dropdown" data-bs-auto-close="outside">
                <i class="bi bi-caret-down-fill"></i>
              </div>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuClickableInside">
                <a class="dropdown-item" href="tel:+7 777 011 0222">+7 777 011 0222</a>
                <a class="dropdown-item" href="tel:+7 777 011 0222">+7 777 011 0222</a>
              </div>
            </div>
          </div>
        </div>
      </header>

      <header class="header header-mobile" :class="{'header-fixed' : isMobile}">
        <div class="container">
          <div class="header__toggle" @click="toggleMobile">
            <transition name="fade" mode="out-in">
              <button key="open" v-if="!isMobile"><i class="bi bi-list"></i></button>
              <button key="close" v-else><i class="bi bi-x"></i></button>
            </transition>
          </div>
          <a href="index.html" class="header__logo">
            <img src="img/logo.svg" alt="">
          </a>
          <a href="tel:+7 777 011 0222" class="header__phone">
            <img src="icons/call.svg" alt="">
          </a>
          <transition name="fade" mode="out-in">
                <div class="header__trigger" v-if="isMobile">
                  <a href="tel:+7 777 011 0222" class="header__phone">
                    <img src="icons/call.svg" alt="">
                    <span>+7 777 011 0222</span>
                  </a>
                  <a href="tel:+7 777 011 0222" class="header__phone">
                    <img src="icons/call.svg" alt="">
                    <span>+7 777 011 0222</span>
                  </a>
                  <div class="header__menu">
                    <a href="company.html">О компании</a>
                    <a href="products.html">Продукция</a>
                    <a href="#">Документы</a>
                    <a href="#">Инструкции</a>
                    <a href="objects.html">Наши объекты</a>
                    <a href="contact.html">Контакты</a>
                  </div>
                  <div class="network">
                    <a href="#"><img src="icons/facebook.svg" alt=""></a>
                    <a href="#"><img src="icons/instagram.svg" alt=""></a>
                  </div>
                </div>
              </transition>
        </div>
      </header>

      <section class="navigation">
        <div class="container">
          <a href="index.html">Главная</a> <i class="bi bi-chevron-right"></i> 
          <span>Объекты</span>
        </div>
        <div class="container">
          <div class="title">Наши объекты</div>
        </div>
      </section>
      
      <section class="objects objects-page">
        <div class="container">
          <div class="objects__items">
            <div class="object">
              <a href="object.html" class="object__img"><img src="img/object.jpg" alt=""></a>
              <div class="object__info">
                <div class="object__info-description">500м2</div>
                <div class="object__info-name">Жилой дом</div>
                <div class="object__info-address">Алматинская обл. Бурундай</div>
              </div>
            </div>
            <div class="object">
              <a href="object.html" class="object__img"><img src="img/object.jpg" alt=""></a>
              <div class="object__info">
                <div class="object__info-description">500м2</div>
                <div class="object__info-name">Жилой дом</div>
                <div class="object__info-address">Алматинская обл. Бурундай</div>
              </div>
            </div>
            <div class="object">
              <a href="object.html" class="object__img"><img src="img/object.jpg" alt=""></a>
              <div class="object__info">
                <div class="object__info-description">500м2</div>
                <div class="object__info-name">Жилой дом</div>
                <div class="object__info-address">Алматинская обл. Бурундай</div>
              </div>
            </div>
            <div class="object">
              <a href="object.html" class="object__img"><img src="img/object.jpg" alt=""></a>
              <div class="object__info">
                <div class="object__info-description">500м2</div>
                <div class="object__info-name">Жилой дом</div>
                <div class="object__info-address">Алматинская обл. Бурундай</div>
              </div>
            </div>
            <div class="object">
              <a href="object.html" class="object__img"><img src="img/object.jpg" alt=""></a>
              <div class="object__info">
                <div class="object__info-description">500м2</div>
                <div class="object__info-name">Жилой дом</div>
                <div class="object__info-address">Алматинская обл. Бурундай</div>
              </div>
            </div>
            <div class="object">
              <a href="object.html" class="object__img"><img src="img/object.jpg" alt=""></a>
              <div class="object__info">
                <div class="object__info-description">500м2</div>
                <div class="object__info-name">Жилой дом</div>
                <div class="object__info-address">Алматинская обл. Бурундай</div>
              </div>
            </div>
            <div class="object">
              <a href="object.html" class="object__img"><img src="img/object.jpg" alt=""></a>
              <div class="object__info">
                <div class="object__info-description">500м2</div>
                <div class="object__info-name">Жилой дом</div>
                <div class="object__info-address">Алматинская обл. Бурундай</div>
              </div>
            </div>
            <div class="object">
              <a href="object.html" class="object__img"><img src="img/object.jpg" alt=""></a>
              <div class="object__info">
                <div class="object__info-description">500м2</div>
                <div class="object__info-name">Жилой дом</div>
                <div class="object__info-address">Алматинская обл. Бурундай</div>
              </div>
            </div>
            <div class="object">
              <a href="object.html" class="object__img"><img src="img/object.jpg" alt=""></a>
              <div class="object__info">
                <div class="object__info-description">500м2</div>
                <div class="object__info-name">Жилой дом</div>
                <div class="object__info-address">Алматинская обл. Бурундай</div>
              </div>
            </div>
            <div class="object">
              <a href="object.html" class="object__img"><img src="img/object.jpg" alt=""></a>
              <div class="object__info">
                <div class="object__info-description">500м2</div>
                <div class="object__info-name">Жилой дом</div>
                <div class="object__info-address">Алматинская обл. Бурундай</div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <footer class="footer">
        <div class="footer__top">
          <div class="container">
            <div class="content">
              <label>Оставьте заявку для сотрудничества</label>
              <form action="">
                <input type="text" placeholder="Введите свой E-mail" required>
                <button type="submit"><img src="icons/arrow.svg" alt=""></button>
              </form>
            </div>
            <div class="content">
              <a href="index.html" class="active">Главная</a>
              <a href="company.html">О компании</a>
              <a href="products.html">Продукция</a>
            </div>
            <div class="content">
              <a href="#">Клиентам</a>
              <a href="objects.html">Объекты</a>
              <a href="contact.html">Контакты</a>
            </div>
            <div class="content">
              <a class="phone" href="tel:+7 777 011 0222"><img src="icons/call.svg" alt="">+7 777 011 0222</a>
              <a class="email" href="mailto:ttstoo17@gmail.com">ttstoo17@gmail.com</a>
              <div class="network">
                <a href="#"><img src="icons/facebook.svg" alt=""></a>
                <a href="#"><img src="icons/instagram.svg" alt=""></a>
              </div>
            </div>
          </div>
        </div>
        <div class="footer__bottom">
          <div class="container">
            <p>© 2021 ТОО «ТД Qaz Fiber cement»</p>
            <a href="#">Политика конфиденциальности</a>
            <a href="#"><img src="img/logo-im.svg" alt=""></a>
          </div>
        </div>
      </footer>

    </main>

    <script src="js/carousel.js"></script>
    <script src="js/masked.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"></script>
    <script src="js/script.js"></script>
  </body>
</html>