.architects {
  padding-bottom: 85px;
}

.architects .container {
  border-top: 1px solid #CBA068;
  padding-top: 80px;
}

.architects_topTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
  margin-top: 0px;
}

.architects_topTitle .title {
  width: 409px;
}

.architects_topTitle .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 675px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 155%;
  -webkit-font-feature-settings: "tnum" on, "lnum" on;
          font-feature-settings: "tnum" on, "lnum" on;
  color: #FFFFFF;
}

.architects_topTitle .right img {
  width: 25px;
  height: 41px;
  margin-right: 20px;
}

.architects .lazy-background2 {
  position: relative;
  width: 100%;
  height: 696px;
  -o-object-fit: contain;
     object-fit: contain;
  background-position: center;
}

.architects .lazy-background2.visible {
  background-image: url(../img/item4.webp);
}

.architects .lazy-background2 .item1 {
  position: absolute;
  top: 23%;
  left: 29.9%;
  z-index: 2;
}

.architects .lazy-background2 .item2 {
  position: absolute;
  top: 17%;
  left: 44%;
  z-index: 2;
}

.architects .lazy-background2 .item3 {
  position: absolute;
  top: 15%;
  left: 57%;
  z-index: 2;
}

.architects .lazy-background2 .item4 {
  position: absolute;
  top: 24.5%;
  left: 63%;
  z-index: 2;
}

.architects .lazy-background2 .item5 {
  position: absolute;
  top: 40.5%;
  left: 67.5%;
  z-index: 2;
}

.architects .lazy-background2 .info {
  display: none;
  position: absolute;
  z-index: 3;
  top: 5%;
  left: 5%;
  width: 351px;
  height: 252px;
  background: #1B1D3B;
  position: relative;
  padding: 33px 26px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.architects .lazy-background2 .info_close {
  position: absolute;
  width: 14.21px;
  height: 14.21px;
  left: 323px;
  top: 15px;
}

.architects .lazy-background2 .info_title {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 137.5%;
  -webkit-font-feature-settings: "tnum" on, "lnum" on;
          font-feature-settings: "tnum" on, "lnum" on;
  color: #FFFFFF;
}

.architects .lazy-background2 .info_desc {
  margin-top: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 137.5%;
  -webkit-font-feature-settings: "tnum" on, "lnum" on;
          font-feature-settings: "tnum" on, "lnum" on;
  color: #CBA068;
}

.architects .lazy-background2 .info_items .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5px;
}

.architects .lazy-background2 .info_items .item div:nth-child(1) {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 137.5%;
  -webkit-font-feature-settings: "tnum" on, "lnum" on;
          font-feature-settings: "tnum" on, "lnum" on;
  color: #FFFFFF;
}

.architects .lazy-background2 .info_items .item div:nth-child(2) {
  margin-left: 37px;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 137.5%;
  -webkit-font-feature-settings: "tnum" on, "lnum" on;
          font-feature-settings: "tnum" on, "lnum" on;
  color: #9C9C9C;
}

.architects .lazy-background2 .info_link {
  margin-top: 25px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 137.5%;
  text-transform: uppercase;
  -webkit-font-feature-settings: "tnum" on, "lnum" on;
          font-feature-settings: "tnum" on, "lnum" on;
  color: #CBA068;
  position: relative;
}

.architects .lazy-background2 .info_link img {
  margin-top: 3px;
  margin-left: 10px;
  width: 4px;
  height: 8px;
}

.architects2 {
  padding-bottom: 85px;
}

.architects2 .container {
  padding-top: 80px;
}

.architects2_topTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
  margin-top: 0px;
}

.architects2_topTitle .title {
  width: 409px;
}

.architects2_topTitle .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 650px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 155%;
  -webkit-font-feature-settings: "tnum" on, "lnum" on;
          font-feature-settings: "tnum" on, "lnum" on;
  color: #FFFFFF;
}

.architects2_topTitle .right img {
  width: 25px;
  height: 41px;
  margin-right: 20px;
}

.architects2_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.architects2_box picture img {
  width: 636px;
  height: 385px;
}

.architects2_box .editors {
  width: 627px;
}

.architects2_link {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 137.5%;
  text-transform: uppercase;
  -webkit-font-feature-settings: "tnum" on, "lnum" on;
          font-feature-settings: "tnum" on, "lnum" on;
  color: #CBA068;
}

.architects2_link:hover {
  opacity: 0.7;
}

.architects2_link:hover img {
  margin-left: 20px;
}

.architects2_link img {
  width: 6px;
  height: 12px;
  margin-left: 10px;
  -webkit-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
}

.architects3 {
  background: #F9FAFF;
  padding-bottom: 90px;
}

.architects3_top {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  justify-items: center;
  padding: 50px 0;
}

.architects3_top .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.architects3_top .item p {
  margin-top: 24px;
}

.architects3_bottom img {
  width: 100%;
  height: 577px;
}

.interior {
  padding-bottom: 50px;
}

.interior .container {
  padding-top: 80px;
}

.interior_topTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
  margin-top: 0px;
}

.interior_topTitle .title {
  width: 573px;
}

.interior_topTitle .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 671px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 155%;
  -webkit-font-feature-settings: "tnum" on, "lnum" on;
          font-feature-settings: "tnum" on, "lnum" on;
  color: #FFFFFF;
}

.interior_topTitle .right img {
  width: 25px;
  height: 41px;
  margin-right: 20px;
}

.interior_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.interior_box picture img {
  width: 671px;
  height: 527px;
}

.interior_box .editors {
  width: 581px;
}

.excluziv {
  height: 140px;
  padding-bottom: 80px;
}

.excluziv .container {
  overflow: hidden;
}

.excluziv .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.excluziv .swiper-container {
  position: relative;
}

.excluziv img {
  width: 93px;
  height: 93px;
  background: #1B1D3B;
}

.excluziv .desc {
  margin-top: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 137.5%;
  text-align: center;
  -webkit-font-feature-settings: "tnum" on, "lnum" on;
          font-feature-settings: "tnum" on, "lnum" on;
  color: #FFFFFF;
}

.excluziv_border {
  width: 100%;
  position: absolute;
  top: 30%;
  border-top: 1px solid #CBA068;
}

.apartments {
  background: #F9FAFF;
  padding: 80px 0;
  overflow: hidden;
}

.apartments .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.apartments_left {
  width: 636px;
}

.apartments_left picture img {
  width: 636px;
  height: 527px;
}

.apartments_right {
  width: 607px;
  position: relative;
}

.apartments_right .bg-apartments {
  position: absolute;
  bottom: -105px;
  right: -65px;
}

.apartments_link {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 137.5%;
  text-transform: uppercase;
  -webkit-font-feature-settings: "tnum" on, "lnum" on;
          font-feature-settings: "tnum" on, "lnum" on;
  color: #CBA068;
}

.apartments_link:hover {
  color: #653543;
}

.apartments_link:hover img {
  margin-left: 20px;
  -webkit-filter: brightness(0) saturate(100%) invert(23%) sepia(10%) saturate(2838%) hue-rotate(292deg) brightness(89%) contrast(84%);
          filter: brightness(0) saturate(100%) invert(23%) sepia(10%) saturate(2838%) hue-rotate(292deg) brightness(89%) contrast(84%);
}

.apartments_link img {
  width: 6px;
  height: 12px;
  margin-left: 10px;
  -webkit-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
}

.gallery {
  padding-bottom: 80px;
}

.gallery .container {
  overflow: hidden;
}

.gallery .swiper-slide {
  opacity: 1;
}

.gallery .swiper-container {
  position: relative;
}

.gallery img {
  width: 100%;
}

.gallery_topNav {
  margin-bottom: 35px;
}

.gallery_topNav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery_topNav .border {
  width: 95%;
  border-top: 0.5px solid #FFFFFF;
}

.gallery_topNav .nav {
  height: 24.9875164032px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery_topNav .nav_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 35px;
  margin-right: 41.5px;
}

.gallery_topNav .nav_left img {
  height: 24.9875164032px;
  width: 13.5px;
}

.gallery_topNav .nav_left img:hover {
  -webkit-filter: brightness(0) saturate(100%) invert(73%) sepia(44%) saturate(416%) hue-rotate(352deg) brightness(86%) contrast(82%);
          filter: brightness(0) saturate(100%) invert(73%) sepia(44%) saturate(416%) hue-rotate(352deg) brightness(86%) contrast(82%);
}

.gallery_topNav .nav_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery_topNav .nav_right img {
  height: 24.9875164032px;
  width: 13.5px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.gallery_topNav .nav_right img:hover {
  -webkit-filter: brightness(0) saturate(100%) invert(73%) sepia(44%) saturate(416%) hue-rotate(352deg) brightness(86%) contrast(82%);
          filter: brightness(0) saturate(100%) invert(73%) sepia(44%) saturate(416%) hue-rotate(352deg) brightness(86%) contrast(82%);
}

.security {
  background: #1B1D3B;
  position: relative;
  padding: 80px 0;
  overflow: hidden;
}

.security .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.security_left {
  width: 674px;
}

.security_left picture img {
  width: 674px;
  height: 370px;
}

.security_right {
  width: 611px;
  position: relative;
}

.security .bg-security {
  position: absolute;
  top: 22px;
  left: 0;
  height: 497px;
  width: 309px;
}

.security2 {
  margin-bottom: 60px;
}

.error {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
  -webkit-font-feature-settings: "tnum" on, "lnum" on;
          font-feature-settings: "tnum" on, "lnum" on;
  color: red;
}

@media (max-width: 1200px) {
  .apartments .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .apartments_right {
    margin-top: 30px;
    width: 100%;
  }

  .security .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 992px) {
  .architects_topTitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }

  .architects_topTitle .title {
    width: 100%;
  }

  .architects .lazy-background2 {
    background-position: -353px;
  }
}

@media (max-width: 768px) {
  .architects .lazy-background2 {
    background-position: -396px;
  }

  .architects .lazy-background2 .item1 {
    position: absolute;
    top: 23%;
    left: 0%;
    z-index: 2;
  }

  .architects .lazy-background2 .item2 {
    position: absolute;
    top: 17%;
    left: 26%;
    z-index: 2;
  }

  .architects .lazy-background2 .item3 {
    position: absolute;
    top: 15%;
    left: 50%;
    z-index: 2;
  }

  .architects .lazy-background2 .item4 {
    position: absolute;
    top: 24.5%;
    left: 61%;
    z-index: 2;
  }

  .architects .lazy-background2 .item5 {
    position: absolute;
    top: 40.5%;
    left: 68.5%;
    z-index: 2;
  }
}

@media (max-width: 576px) {
  .architects_topTitle .right {
    width: 100%;
  }

  .architects .lazy-background2 {
    background-size: contain;
    height: 200px;
  }

  .architects .lazy-background2 .item1 {
    position: absolute;
    top: 16%;
    left: 21%;
    z-index: 2;
    width: 86px;
  }

  .architects .lazy-background2 .item2 {
    position: absolute;
    top: 9%;
    left: 38.2%;
    z-index: 2;
    width: 73px;
  }

  .architects .lazy-background2 .item3 {
    position: absolute;
    top: 6%;
    left: 52.2%;
    z-index: 2;
    width: 73px;
  }

  .architects .lazy-background2 .item4 {
    position: absolute;
    top: 18.8%;
    left: 57.2%;
    z-index: 2;
    width: 76px;
  }

  .architects .lazy-background2 .item5 {
    position: absolute;
    top: 38%;
    left: 62.2%;
    z-index: 2;
    width: 94px;
  }

  .architects .lazy-background2 .info {
    top: 30%;
    left: 3.5%;
  }

  .architects2_topTitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }

  .architects2_topTitle .title {
    width: 100%;
  }

  .architects2_topTitle .right {
    width: 100%;
  }

  .architects2_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .architects2_box picture img {
    height: auto;
  }

  .architects2_box .editors {
    width: 100%;
    margin-top: 30px;
  }

  .architects3_top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    justify-items: center;
    grid-gap: 30px;
  }

  .architects3_bottom img {
    height: auto;
  }

  .interior_topTitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }

  .interior_topTitle .title {
    width: 100%;
  }

  .interior_topTitle .right {
    width: 100%;
  }

  .interior_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .interior_box picture img {
    height: auto;
    width: 100%;
  }

  .interior_box .editors {
    width: 100%;
    margin-top: 30px;
  }

  .apartments_left {
    width: 100%;
  }

  .apartments_left picture img {
    width: 100%;
    height: unset;
  }

  .gallery_topNav .nav_left img {
    width: 41.5px;
  }

  .gallery_topNav .nav_right img {
    width: 41.5px;
  }

  .security {
    padding-bottom: 40px;
  }

  .security_left {
    width: 100%;
  }

  .security_left picture img {
    width: 100%;
    height: unset;
  }

  .security_right {
    width: 100%;
    margin-top: 30px;
  }
}

@media (max-width: 430px) {
  .architects .lazy-background2 {
    background-size: 420px 250px;
    height: 200px;
    background-position: -461px;
  }
}

@media (max-width: 380px) {
  .architects .lazy-background2 .item1 {
    position: absolute;
    top: 17%;
    left: 25%;
    z-index: 2;
    width: 85px;
  }

  .architects .lazy-background2 .item2 {
    position: absolute;
    top: 9.2%;
    left: 44%;
    z-index: 2;
    width: 73px;
  }

  .architects .lazy-background2 .item3 {
    position: absolute;
    top: 6%;
    left: 61.2%;
    z-index: 2;
    width: 73px;
  }

  .architects .lazy-background2 .item4 {
    position: absolute;
    top: 18.8%;
    left: 66.2%;
    z-index: 2;
    width: 76px;
  }

  .architects .lazy-background2 .item5 {
    position: absolute;
    top: 38%;
    left: 72.2%;
    z-index: 2;
    width: 94px;
  }

  .architects .lazy-background2 .info {
    top: 30%;
    left: -3%;
  }
}