.gallery {border: 1px solid grey; padding: 10px 10px 0 10px; margin: 10px 0 20px 0;}
.gallery a.header {border-bottom: 1px dashed; text-decoration: none; color: inherit;}
.gallery a.header:hover {border-bottom: none;}