<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="images/icons/favicon.svg">
    <title>IT Prom</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue2-touch-events@3.2.2/index.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <vue id="app">
        <header class="header header-news">
            <div class="container">
                <button class="header__toggle" @click="toggleMenu">
                    <i class="bi bi-list"></i>
                </button>
                <a href="index.html" class="header__logo">
                    <img src="images/icons/logo.svg" alt="logo">
                </a>
                <ul class="header__menu">
                    <li>
                        <div class="dropdown">
                            <div class="dropdown__head">
                                О Союзе
                            </div>
                            <ul class="dropdown__body">
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="dropdown">
                            <div class="dropdown__head">
                                Аналитика
                            </div>
                            <ul class="dropdown__body">
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="#">Новости</a></li>
                    <li><a href="#">Партнеры</a></li>
                    <li><a href="#">Полезное</a></li>
                    <li><a href="#">Электронная платформа</a></li>
                </ul>
                <ul class="header__lang">
                    <li><a href="#">KAZ</a></li>
                    <li><a href="#" class="active">RUS</a></li>
                    <li><a href="#">ENG</a></li>
                </ul>
                <div class="header__search" @click="toggleSearch">
                    <i class="bi bi-search"></i>
                </div>
            </div>
        </header>

        <main class="main">
            
            <section class="news-block-item">
                <div class="container">
                    <div class="news-block-item__navigation">
                        <i class="bi bi-chevron-left"></i> <a href="index.html">Назад к о Союзе</a> 
                    </div>

                    <h1>
                        Устав Союза Объединения юридических лиц «Союз производителей инфотехнологий и субъектов инфокоммуникаций «IT Prom»
                    </h1>
                </div>
            </section>

            <section class="interior interior-charter">
                <div class="container">

                    <div class="content">
                        <ul class="interior__menu">
                            <li><a href="#" class="active">Общая информация</a></li>
                            <li><a href="#">Устав Союза</a></li>
                            <li><a href="#">Члены Союза</a></li>
                            <li><a href="#">Вступить в союз</a></li>
                            <li><a href="#">Проекты</a></li>
                        </ul>
                    </div>
                    <div class="content">
                        <div class="editors">
                            <h4>1. Общие положения </h4>
                            <ul>
                                <li>1.1. Союзом признается объединение юридических лиц и (или) граждан, основанное на добровольном или, в установленных законом случаях, на обязательном членстве и созданное для представления и защиты общих, в том числе, профессиональных интересов для достижения общественно полезных, а также иных не противоречащих закону и имеющих некоммерческий характер целей. </li>
                                <li>Союз является некоммерческой корпоративной организацией.</li>
                                <li>1.2. Союз не преследует цели извлечения прибыли в качестве основной цели своей деятельности.</li>
                                <li>1.3. Союз осуществляет свою деятельность в соответствии с Конституцией РК, Гражданским кодексом РК, Законом Республики Казахстан «О некоммерческих организациях», настоящим Уставом и Учредительным Договором.</li>
                                <li>1.4. Полное наименование:</li>
                                <li>на казахском языке: «IT Prom» Инфотехнологиялар өндірушілер мен инфокоммуникациялар субъектілері одағы» Заңды тұлғалардың бірлестігі.</li>
                                <li>на русском языке: Объединения юридических лиц «Союз производителей инфотехнологий и субъектов инфокоммуникаций «IT Prom».</li>
                                <li>на английском языке: Association of Legal Entities «Association of Information Technologies Producers and Infocommunications Entities «IT Prom».</li>
                                <li>Сокращенное наименование Союза:</li>
                                <li>на казахском языке: «IT Prom Одағы» ЗТБ.</li>
                                <li>на русском языке: ОЮЛ «Союз IT Prom»</li>
                                <li>на английском языке: «IT Prom» Association» ALE.</li>
                                <li>1.5. Учредителями Союза являются:</li>
                                <li>АО «Логиком», Республика Казахстан, г. Алматы, Турксибский район, ул. Аральская, 8.</li>
                                <li>ТОО «Agile Technologies», Республика Казахстан, г. Акколь, мкр-н Астана, д. 8. </li>
                                <li>1.6. Место нахождения Союза: Казахстан, г. Нур-Султан, ул. Д. Кунаева, д. 29/1, 12 этаж, офис № 1215</li>
                                <li>1.7. Союз считается созданным как юридическое лицо с момента его государственной регистрации в установленном законом порядке. Может от своего имени приобретать и осуществлять имущественные и личные неимущественные права, нести обязанности, соответствующие целям создания и деятельности, предусмотренные настоящим Уставом, быть истцом и ответчиком в суде.</li>
                                <li>1.8. Союз является собственником своего имущества. Союз отвечает по своим обязательствам всем своим имуществом, если иное не предусмотрено законом.</li>
                                <li>1.9. Союз вправе в установленном порядке открывать банковские счета на территории РК и за ее пределами.</li>
                                <li>1.10. Союз имеет круглую печать, содержащую ее полное фирменное наименование на казахском и русском языках и указание на место ее нахождения.</li>
                                <li>Союз вправе иметь штампы и бланки со своим фирменным наименованием, собственную эмблему, а также зарегистрированные в установленном порядке товарные знаки и другие средства визуальной идентификации.</li>
                                <li>1.11. Союз может создавать филиалы и открывать представительства на территории РК и за ее пределами. Филиалы и представительства осуществляют свою деятельность от имени Союза, который несет ответственность за их деятельность.    </li>
                                <li>1.12. В интересах достижения целей, предусмотренных настоящим Уставом, Союз может создавать другие некоммерческие организации и вступать в ассоциации и союзы.</li>
                                <li>1.13. Союз не отвечает по обязательствам своих членов, если иное не предусмотрено законом.</li>
                                <li>Члены Союза не отвечают по его обязательствам, за исключением случаев, если законом и (или) Уставом Союза предусмотрена субсидиарная ответственность его членов. </li>
                                <li>1.14. Особенности правового положения Союза могут быть установлены законами и иными правовыми актами.</li>
                            </ul>

                            <h4>2. Членство в Союзе</h4>
                            <ul>
                                <li>2.1. Членами Союза могут быть юридические лица и индивидуальные предприниматели, являющиеся производителями инфотехнологий и(или) субъектами инфокоммуникаций.</li>
                                <li>2.2. Члены Союза сохраняют свою самостоятельность и права.</li>
                                <li>2.3. Союз открыт для вступления в него новых членов.</li>
                                <li>С согласия членов Союза в него может войти новый член. Вступление в Союз нового членаможет быть обусловлено его субсидиарной ответственностью по обязательствам Союза, возникшим до его вступления. </li>
                                <li>2.4. Прием в члены Союза осуществляется Правлением Союза на основании заявления, поданного потенциальным члена Союза на имя Председателя Правления Союза. Заявление рассматривается на ближайшем со дня подачи заявления заседании Правления Союза.</li>
                                <li>2.5. Решение Правления о приеме нового члена Союза оформляется протоколом. Вновь вступившие в состав Союза члены приобретают все права и обязанности членов Союза с момента внесения вступительного и годового взноса.</li>
                                <li>Вступительные и периодические взносы Членов, исключенных или добровольно выбывших по собственному усмотрению из Союза, возврату не подлежат.</li>
                                <li>2.6. Заявитель обязан в течение 30 дней со дня уведомления о приеме его в члены Союза внести единовременно одноразовый вступительный взнос и ежегодный годовой взнос в размере, определенном Положением о взносах Союза.</li>
                                <li>2.7. Учредители становятся членами Союза с даты государственной регистрации Союза. Учредители не имеют преимущественных прав и льгот по отношению к другим членам Союза. </li>
                                <li>2.8. Член Союза вправе по своему усмотрению выйти из Союза в любое время. В этом случае член Союза несет субсидиарную ответственность по его обязательствам пропорционально своему взносу в течение двух лет с момента выхода. </li>
                                <li>2.9. Член Союза, систематически не выполняющий или ненадлежащим образом выполняющий свои обязанности, либо нарушивший принятые на себя обязательства перед Союзом, а также препятствующий своими действиями или бездействием нормальной работе Союза, может быть исключен из него по решению остальных членов Союза.</li>
                                <li>2.10. Членство в Союзе неотчуждаемо.</li>
                                <li>2.11. При нарушении членом Союза требований Устава Союза, неуплаты вступительных и годовых взносов, а также совершения действий, дискредитирующих члена Союза, как надежного поставщика, по представлению любого из членов Союза или иных лиц, на Правление выносится вопрос о его дальнейшем членстве в Союз.</li>
                                <li>2.12. Член Союза имеет право:</li>
                                <li>- участвовать в управлении Союзом в порядке, предусмотренном настоящим уставом;</li>
                                <li>- получать информацию о деятельности Союза, в том числе знакомиться с финансовой отчетностью Союза;</li>
                                <li>- участвовать в мероприятиях, проводимых Союзом.</li>
                                <li>2.13. Член Союза обязан:</li>
                                <li>- содействовать достижению целей и выполнению задач Союза;</li>
                                <li>- соблюдать требования настоящего Устава;</li>
                                <li>- своевременно уплачивать взносы;</li>
                                <li>- выполнять решения руководящих органов Союза;</li>
                                <li>- участвовать в работе Общего собрания членов Союза;</li>
                                <li>- не разглашать сведения о деятельности Союза, являющиеся коммерческой тайной;</li>
                                <li>- по запросу Правления предоставлять информацию о деятельности компании члена;</li>
                                <li>- принимать все меры для исключения среди членов Союза любой деятельности, которая может дискредитировать членство Союза, отрасль отечественных производителей.</li>
                            </ul>

                            <h4>3. Предмет, цели и задачи Союза</h4>
                            <ul>
                                <li>3.1. Целью Союза является:</li>
                                <li>- Объединение отечественных игроков IT индустрии Казахстана для консолидированного решения задач развития и продвижения отрасли.</li>
                                <li>3.2. Основными задачами и предметом деятельности Союза являются:</li>
                                <li>- оказание содействия в формировании единой платформы производителей инфотехнологий и субъектов инфокоммуникаций для определения общей отраслевой бизнес-политики;</li>
                                <li>- оказание содействия в создании цифровых технологических платформ для запуска новых прорывных проектов в отрасли информационно-коммуникационных технологий (далее – ИКТ);</li>
                                <li>- оказание содействия членам Союза во встраивании в глобальные цепочки создания стоимостей мировой индустрии ИКТ;</li>
                                <li>- представительство и защита общих интересов, профессиональных и социальных прав членов Союза в органах государственной власти и управления, органах местного самоуправления, общественных объединениях и организациях иных форм собственности, международных организациях, судебных органах Республики Казахстан и иностранных государств;</li>
                                <li>-  защита интересов членов Союза на внутреннем рынке;</li>
                                <li>- представление членов Союза в различных организациях, в том числе международных  мероприятиях, связанных с вопросами развития отечественных товаропроизводителей в Республики Казахстан;</li>
                                <li>- участие в подготовке и инициирование изменений в законодательные акты Республики Казахстан в целях обеспечения развития и поддержки отечественных производителей отрасли ИКТ, получения преимуществ перед другими потенциальными поставщиками при проведении конкурсов по государственным закупкам, осуществление инвестиций государством в развитие отечественных товаропроизводителей;</li>
                                <li>- содействие членам Союза в вопросах организации продукции ИКТ и сертификации компаний в соответствии с международными стандартами в области производства продукции ИКТ;</li>
                                <li>- популяризация товаров, работ и услуг, производимых, реализуемых, выполняемых и оказываемых членами Союза, с целью расширения сфер их использования;</li>
                                <li>- создание условий для расширения контактов между членами Союза и пользователями товаров, работ и услуг, производимых, реализуемых, выполняемых и оказываемых членами Союза, активная работа по организации различных форм обмена информацией;</li>
                                <li>- оказание консультационной поддержки государственным исполнительным и законодательным органам в подготовке нормативных правовых актов в сфере отечественных товаропроизводителей.</li>
                                <li>Союз вправе осуществлять виды деятельности, не запрещенные законодательством РК и соответствующие целям деятельности Союза, которые предусмотрены настоящим Уставом.</li>
                                <li>3.3. Союз вправе осуществлять деятельность, приносящую доход в случае, если это служит достижению целей, Союза. Такой деятельностью признаётся приносящее прибыль производство товаров и услуг, отвечающих целям создания Союза, а также приобретение и реализация ценных бумаг, имущественных и неимущественных прав, участие в хозяйственных обществах и участие в товариществах в качестве вкладчика. </li>
                                <li>3.4. Союз ведет учет доходов и расходов по приносящей доход деятельности. </li>
                            </ul>

                            <h4>4. Органы управления и контроля Союза</h4>
                            <ul>
                                <li>4.1. Органами управления Союза являются:</li>
                                <li>- высший орган - Общее собрание членов Союза;</li>
                                <li>- коллегиальный исполнительный орган - Правление;</li>
                                <li>- контрольный орган - Ревизионная комиссия (ревизор);</li>
                                <li>- совещательный орган - Координационный совет.</li>
                                <li>4.2. Высшим руководящим органом Союза является Общее собрание членов Союза.</li>
                                <li>4.3. Основная функция Общего собрания членов Союза – обеспечение соблюдения Союзом целей, в интересах которых она была создана.</li>
                                <li>4.4. К исключительной компетенции Общего собрания членов Союза относится решение следующих вопросов: </li>
                                <li>1) определение приоритетных направлений деятельности Союза, принципов образования и использования ее имущества;</li>
                                <li>2) принятия, внесения изменений и дополнений в учредительные документы Союза;</li>
                                <li>3) образование других органов Союза и досрочное прекращение их полномочий, если Уставом Союзом в соответствии с законом это правомочие не отнесено к компетенции иных коллегиальных органов Союза;</li>
                                <li>4) утверждение годовых отчетов и годовых бухгалтерских балансов Союза, если Уставом Союза в соответствии с законом это правомочие не отнесено к компетенции иных коллегиальных органов Союза;</li>
                                <li>5) принятие решений о создании Союзом других юридических лиц;</li>
                                <li>6) принятие решений об участии Союза в других юридических лицах, о создании филиалов и об открытии представительств Союза;</li>
                                <li>7) принятие решений о реорганизации или ликвидации Союза, о назначении Ликвидационной комиссии (ликвидатора) и об утверждении ликвидационного баланса;</li>
                                <li>8) избрание Ревизионной комиссии (ревизора) и назначение аудиторской организации или индивидуального аудитора (профессионального аудитора) Союза;</li>
                                <li>9) принятие решения о порядке определения размера и способа уплаты членских взносов;</li>
                                <li>10) принятие решений о дополнительных имущественных взносах членов Союза.</li>
                                <li>4.5. Общее собрание членов Союза правомочно, если на нем присутствует более половины его членов.</li>
                                <li>4.6. Решение Общего собрания членов Союза принимается большинством голосов членов, присутствующих на собрании. Решение Общего собрания членов Союза по вопросам его исключительной компетенции принимается единогласно или квалифицированным большинством голосов в соответствии с Законом «О некоммерческих организациях», иными Законами и настоящим Уставом.</li>
                            </ul>

                            <h4>5. Исполнительные органы Союза</h4>
                            <ul>
                                <li>5.1. Постоянно действующим исполнительным органом Союза является Правление, которое подотчетно Общему собранию членов Союза.</li>
                                <li>5.2. Правление избирается Общим собранием членов Союза сроком на 5 (пять) лет, в количественном составе 3 (три) члена.</li>
                                <li>5.3 Правление Союза возглавляет председатель, назначаемый на должность Общим собранием членов Союза сроком на 5 (пять) лет.</li>
                                <li>5.4. К компетенции Председателя Правления относятся любые вопросы хозяйственной и иной деятельности Союза, не относящиеся к компетенции Общего собрания членов Союза и его Правления.</li>
                                <li>5.5.  Председатель Правления от имени Союза:</li>
                                <li>1) без доверенности, представляет его во всех учреждениях, организациях и предприятиях как на территории РК, так и за рубежом;</li>
                                <li>2) принимает решения и издает приказы по вопросам внутренней деятельности Союза, осуществляет прием, перемещение и увольнение работников Союза, применяет к ним меры поощрения и налагает дисциплинарные взыскания, устанавливает размеры должностных окладов работников Союза и персональных надбавок к окладам в соответствии со штатным расписанием Союза, определяет размеры премий работников Союза;</li>
                                <li>3) организует подготовку и проведение заседаний Правления Союза;</li>
                                <li>4) выдает доверенности на право представления Союза в его отношениях с третьими лицами;</li>
                                <li>5) несет ответственность в пределах своей компетенции за использование средств и имущества Союза в соответствии с ее уставными целями и задачами;</li>
                                <li>6) распределяет обязанности работников;</li>
                                <li>7) осуществляет иные функции, определенные уставом Союза и решениями общего собрания членов Союза, и Правлением.</li>
                                <li>5.6. Правление осуществляет текущее руководство деятельностью Союза и принимает решения на своих заседаниях, который возглавляет Председатель Правления.</li>
                                <li>5.7. Заседание Правления правомочно, если на нем присутствует более половины его членов. </li>
                                <li>5.8. Решения на заседании Правления принимаются большинством голосов членов, присутствующих на заседании.</li>
                                <li>5.9. К компетенции Правления относится решение всех вопросов, которые не составляют исключительную компетенцию Общего собрания членов Союза, определенную настоящим Уставом, в том числе:</li>
                                <li>1) организация выполнения решений Общего собрания членов Союза;</li>
                                <li>2) созыв Общего собрания членов Союза, утверждение повестки дня собрания, определение даты, места, времени и порядка его проведения;</li>
                                <li>3) прием в члены и исключение из членов Союза;</li>
                                <li>4) предварительное одобрение годового отчета и годового бухгалтерского баланса перед утверждением их Общим собранием членов Союза;</li>
                                <li>5) распоряжение имуществом и средствами Союза;</li>
                                <li>6) рассмотрение предложений и заявлений членов Союз;</li>
                                <li>5.10. По решению Общего собрания членов Союза полномочия органов Союза могут быть досрочно прекращены в случаях грубого нарушения ими своих обязанностей, обнаружившейся неспособности к надлежащему ведению дел или при наличии иных серьезных оснований. </li>
                                <li>5.14. Союз не вправе осуществлять выплату вознаграждения ее высшего органа управления и членам Правления за выполнение ими возложенных на них функций, за исключением компенсации расходов, непосредственно связанных с участием в работе Союза. </li>
                            </ul>

                            <h4>6. Ревизионная комиссия (ревизор) Союза</h4>
                            <ul>
                                <li>6.1. Контроль за финансово-хозяйственной деятельностью Союза осуществляется Ревизионной комиссией (ревизором). </li>
                                <li>6.2. Ревизионная комиссия (ревизор) избирается на общем собрании членов Союза сроком на 5 (пять) лет.</li>
                                <li>6.3. Члены Ревизионной комиссии (ревизор) Союза не могут одновременно являться членами Правления Союза, а также занимать иные должности в органах управления Союза.</li>
                                <li>6.4. Проверка (ревизия) финансово-хозяйственной деятельности Союза осуществляется по итогам деятельности Союза за год, а также во всякое время по инициативе Председателя, Правления или Общего собрания членов Союза.</li>
                            </ul>

                            <h4>7. Координационный Совет</h4>
                            <ul>
                                <li>7.1 Координационный Совет (далее – Совет) является совещательным органом Союза, назначаемый Общим собранием членов Союза и состоящий не менее чем из 3 членов. </li>
                                <li>7.2 Председатель Совета избирается членами Совета на пять лет и могут быть досрочно прекращены по решению большинства членов Совета.</li>
                                <li>7.3. Заседания Совета проводятся по инициативе его Председателя, но не реже одного раза в год. Заседания Совета правомочны, если в них принимают участие более половины их членов. Заседание Совета может быть проведено заочно (документированными решениями в почтовой, факсографической, электронной форме). </li>
                                <li>7.4 Решения Совета принимаются простым большинством голосов.</li>
                                <li>7.5 Совет имеет следующие полномочия и компетенцию:</li>
                                <li>1) координирует деятельность Союза во взаимоотношениях с государственными органами, квазигосударственным сектором, общественными организациями и объединениями;</li>
                                <li>2) координирует участие Союза в разработке нормативных правовых актов, реализации государственных, отраслевых программ, проектах, реализуемых Союзом;</li>
                                <li>3) вносит в органы Союза предложения по перспективным направлениям деятельности Союза.</li>
                                <li>Совет не вмешивается в деятельность Правления, а его решения имеют для Правления рекомендательный характер.</li>
                            </ul>

                            <h4>8. Собственность и источники формирования имущества Союза</h4>
                            <ul>
                                <li>8.1. Союз может иметь в собственности или в оперативном управлении здания, сооружения, жилищный фонд, оборудование, инвентарь, денежные средства в тенге и иностранной валюте, ценные бумаги и иное имущество.</li>
                                <li>8.2. Союз может иметь земельные участки в собственности или на ином праве в соответствии с законодательством РК.</li>
                                <li>8.3. Союз отвечает по своим обязательствам тем своим имуществом, на которое по законодательству РК может быть обращено взыскание.</li>
                                <li>8.4. Источниками формирования имущества Союза и в денежной и иных формах являются:</li>
                                <li>- регулярные и единовременные поступления (взносы) от членов;</li>
                                <li>- добровольные имущественные взносы и пожертвования;</li>
                                <li>- выручка от реализации товаров, работ, услуг;</li>
                                <li>- дивиденды (доходы, проценты), получаемые по акциям, облигациям, другим ценным бумагам и вкладам;</li>
                                <li>- доходы, получаемые от собственности Союза;</li>
                                <li>- другие не запрещенные законом поступления. </li>
                                <li>8.5. Полученная Союзом прибыль не подлежит распределению между ее членами и направляется на реализацию целей Союза.</li>
                                <li>8.6. Члены Союза уплачивают вступительные, ежегодные и целевые взносы, предназначенные для финансирования конкретных мероприятий и программ.</li>
                                <li>8.7. Взносы могут оплачиваться деньгами, ценными бумагами.</li>
                                <li>8.8. Размер взносов устанавливается Общим собранием участников Союза и указывается в Положении о взносах Союза.</li>
                            </ul>

                            <h4>9. Порядок внесения изменений и дополнений в устав Союза</h4>
                            <ul>
                                <li>9.1. Изменения в настоящий Устав вносятся по решению Общего собрания членов Союза.</li>
                                <li>9.2. Изменения и дополнения в настоящий Устав, утвержденные Общим собранием членов Союза, подлежат государственной регистрации.</li>
                                <li>9.3. Государственная регистрация изменений и дополнений в настоящий Устав осуществляется в порядке, установленном действующим законодательством РК.</li>
                                <li>9.4. Изменения и дополнения в настоящий Устав вступают в силу с момента их государственной регистрации.</li>
                            </ul>

                            <h4>10. Порядок реорганизации и ликвидации Союза</h4>
                            <ul>
                                <li>10.1. Реорганизация Союза осуществляется по решению Общего собрания членов Союза в порядке, предусмотренном Гражданским кодексом РК, Законом «О некоммерческих организациях» и другими законами.</li>
                                <li>10.2. Союз по решению своих членов может быть преобразована в общественную организацию, автономную некоммерческую организацию, фонд.</li>
                                <li>10.3. Союз может быть ликвидирован на основании и в порядке, которые предусмотрены Гражданским кодексом РК, Законом «О некоммерческих организациях» и другими законами.</li>
                                <li>10.4. При ликвидации Союза оставшееся после удовлетворения требований кредиторов имущество направляется на цели, в интересах которых она была создана, и (или) на благотворительные цели.</li>
                                <li>10.5. В случае, если использование имущества Союза в соответствии с ее учредительными документами не представляется возможным, оно обращается в доход государства.</li>
                                <li>10.6. Ликвидация Союза организации считается завершенной, а Союз – прекратившей существование после внесения об этом записи в единый государственный реестр юридических лиц.</li>
                            </ul>

                            <h4>11. Сведения о филиалах и представительствах</h4>
                            <ul>
                                <li>11.1. Союз может создавать филиалы, обособленные подразделения (отделения) и открывать представительства в соответствии с законодательством Республики Казахстан.</li>
                                <li>11.2. На момент государственной регистрации Союз филиалов и представительств не имеет.</li>
                                <li>11.3. Настоящий Устав составлен на казахском и русском языках, в случае разночтения в Уставе за основу берется русскоязычная версия.</li>
                            </ul>

                        </div>
                    </div>
                    <div class="content" style="border: none; padding: 0;">
                    </div>

                </div>
            </section>

        </main>

        <footer class="footer">
            <div class="container">
                <div class="footer__top">
                    <div class="content">
                        <a href="#" class="logo">
                            <img src="images/icons/logo-2.svg" alt="logo">
                        </a>
                        <p>
                            Союз производителей инфотехнологий и субъектов инфокоммуникаций
                        </p>
                    </div>


                    <div class="content">
                        <a href="#" class="link">Связаться с нами</a>
                        <div class="messenger">
                            <a href="#" class="email">info@itprom.info</a>
                            <div class="network">
                                <a href="#"><img src="images/icons/whatsapp.svg" alt="icon"></a>
                                <a href="#"><img src="images/icons/facebook.svg" alt="icon"></a>
                                <a href="#"><img src="images/icons/instagram.svg" alt="icon"></a>
                                <a href="#"><img src="images/icons/telegram.svg" alt="icon"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer__bottom">
                    <p>© 2021 IT Prom.</p>
                    <p>Все права защищены.</p>
                    <a href="#">Политика конфиденциальности</a>
                    <div class="content">
                        <p>Разработано</p>
                        <a href="#"> <img src="images/icons/logo-im.svg" alt="logo"></a>
                    </div>
                </div>
            </div>
        </footer>

        <div class="wrapper" :class="{'wrapper__show': isWrapper}" @click="toggleWrapper">
        </div>

        <div class="search" :class="[{'search__show': isSearch}, {'search__show search__show-solo': isSearchSolo}]">
            <div class="container">
                <a href="index.html" class="search__logo" v-if="isMenu">
                    <img src="images/icons/logo.svg" alt="logo">
                </a>
                <form action="" method="">
                    <input type="text" placeholder="Поиск">
                    <button type="submit">
                        <i class="bi bi-search"></i>
                    </button>
                    <div @click="toggleWrapper">
                        <i class="bi bi-x-lg"></i>
                    </div>
                </form>
            </div>
        </div>

        <div class="sidebar" :class="{'sidebar__show': isSidebar}">
            <ul class="sidebar__menu">
                <li><button @click="toggleMenuTab(1)" :class="{'active': menuTabValue == 1}">О Союзе</button></li>
                <li><button @click="toggleMenuTab(2)" :class="{'active': menuTabValue == 2}">Вступить в Союз</button>
                </li>
                <li><button @click="toggleMenuTab(3)" :class="{'active': menuTabValue == 3}">Аналитика</button></li>
                <li><a href="#">Новости</a></li>
                <li><a href="#">Партнеры</a></li>
                <li><a href="#">Полезное</a></li>
                <li><a href="#">Электронная платформа</a></li>

                <ul class="sidebar__lang">
                    <li><a href="#">KAZ</a></li>
                    <li><a href="#" class="active">RUS</a></li>
                    <li><a href="#">ENG</a></li>
                </ul>
            </ul>
            <div class="sidebar__tabs">
                <transition name="fade" mode="out-in" key="open">
                    <div class="tab" v-if="menuTabValue == 1" key="menuTabValue-1">
                        <h3>О Союзе</h3>
                        <ul class="links">
                            <li><a href="#">Page link ...</a></li>
                            <li><a href="#">Page link ...</a></li>
                            <li><a href="#">Page link ...</a></li>
                            <li><a href="#">Page link ...</a></li>
                            <li><a href="#">Page link ...</a></li>
                            <li><a href="#">Page link ...</a></li>
                            <li><a href="#">Page link ...</a></li>
                            <li><a href="#">Page link ...</a></li>
                            <li><a href="#">Page link ...</a></li>
                            <li><a href="#">Page link ...</a></li>
                            <li><a href="#">Page link ...</a></li>
                        </ul>
                    </div>
                    <div class="tab" v-if="menuTabValue == 2" key="menuTabValue-2">
                        <h3>Вступить в Союз</h3>
                        <ul class="links">
                            <li><a href="#">Page link ...</a></li>
                            <li><a href="#">Page link ...</a></li>
                            <li><a href="#">Page link ...</a></li>
                            <li><a href="#">Page link ...</a></li>
                            <li><a href="#">Page link ...</a></li>
                            <li><a href="#">Page link ...</a></li>
                            <li><a href="#">Page link ...</a></li>
                            <li><a href="#">Page link ...</a></li>
                            <li><a href="#">Page link ...</a></li>
                            <li><a href="#">Page link ...</a></li>
                            <li><a href="#">Page link ...</a></li>
                        </ul>
                    </div>
                    <div class="tab" v-if="menuTabValue == 3" key="menuTabValue-3">
                        <h3>Аналитика</h3>
                        <ul class="links">
                            <li><a href="#">Page link ...</a></li>
                            <li><a href="#">Page link ...</a></li>
                            <li><a href="#">Page link ...</a></li>
                            <li><a href="#">Page link ...</a></li>
                            <li><a href="#">Page link ...</a></li>
                            <li><a href="#">Page link ...</a></li>
                            <li><a href="#">Page link ...</a></li>
                            <li><a href="#">Page link ...</a></li>
                            <li><a href="#">Page link ...</a></li>
                            <li><a href="#">Page link ...</a></li>
                            <li><a href="#">Page link ...</a></li>
                        </ul>
                    </div>
                </transition>
            </div>
            <div class="sidebar__wrapper" @click="toggleWrapper"></div>
        </div>

        <div class="sidebar-mobile" :class="{'sidebar-mobile__show': isSidebar}">
            <a href="index.html" class="sidebar-mobile__logo">
                <img src="images/icons/logo.svg" alt="logo">
            </a>
            <ul class="sidebar-mobile__menu">
                <li>
                    <dropdown inline-template>
                        <div class="sidebar-dropdown">
                            <div class="sidebar-dropdown__head" :class="{'sidebar-dropdown__head-show' : isShow}" @click="dropdownToggle">О Союзе</div>
                            <ul v-if="isShow" class="sidebar-dropdown__body">
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                            </ul>
                        </div>
                    </dropdown>
                </li>
                <li>
                    <dropdown inline-template>
                        <div class="sidebar-dropdown">
                            <div class="sidebar-dropdown__head" :class="{'sidebar-dropdown__head-show' : isShow}" @click="dropdownToggle">Вступить в Союз</div>
                            <ul v-if="isShow" class="sidebar-dropdown__body">
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                            </ul>
                        </div>
                    </dropdown>
                </li>
                <li>
                    <dropdown inline-template>
                        <div class="sidebar-dropdown">
                            <div class="sidebar-dropdown__head" :class="{'sidebar-dropdown__head-show' : isShow}" @click="dropdownToggle">Аналитика</div>
                            <ul v-if="isShow" class="sidebar-dropdown__body">
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                            </ul>
                        </div>
                    </dropdown>
                </li>
                <li><a href="#">Новости</a></li>
                <li><a href="#">Партнеры</a></li>
                <li><a href="#">Полезное</a></li>
                <li><a href="#">Электронная платформа</a></li>
            </ul>
            <ul class="sidebar-mobile__lang">
                <li><a href="#">KAZ</a></li>
                <li><a href="#" class="active">RUS</a></li>
                <li><a href="#">ENG</a></li>
            </ul>
        </div>

    </vue>
    <script src="https://cdn.jsdelivr.net/npm/maska@latest/dist/maska.js"></script>
    <script src="js/component-vue/slider.js"></script>
    <script src="js/component-vue/dropdown.js"></script>
    <script src="js/vivus.min.js"></script>
    <script src="js/script.js"></script>
</body>

</html>