<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="images/icons/favicon.svg">
    <title>IT Prom</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue2-touch-events@3.2.2/index.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <vue id="app">
        <header class="header header-news">
            <div class="container">
                <button class="header__toggle" @click="toggleMenu">
                    <i class="bi bi-list"></i>
                </button>
                <a href="index.html" class="header__logo">
                    <img src="images/icons/logo.svg" alt="logo">
                </a>
                <ul class="header__menu">
                    <li>
                        <div class="dropdown">
                            <div class="dropdown__head">
                                О Союзе
                            </div>
                            <ul class="dropdown__body">
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="dropdown">
                            <div class="dropdown__head">
                                Аналитика
                            </div>
                            <ul class="dropdown__body">
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="#">Новости</a></li>
                    <li><a href="#">Партнеры</a></li>
                    <li><a href="#">Полезное</a></li>
                    <li><a href="#">Электронная платформа</a></li>
                </ul>
                <ul class="header__lang">
                    <li><a href="#">KAZ</a></li>
                    <li><a href="#" class="active">RUS</a></li>
                    <li><a href="#">ENG</a></li>
                </ul>
                <div class="header__search" @click="toggleSearch">
                    <i class="bi bi-search"></i>
                </div>
            </div>
        </header>

        <main class="main">
            
            <section class="news-block-item">
                <div class="container">
                    <div class="news-block-item__navigation">
                        <i class="bi bi-chevron-left"></i> <a href="index.html">Назад на Главную</a> 
                    </div>
                    <h1>Связаться с нами</h1>
                </div>
            </section>

            <section class="connection">
                <div class="container">
                    <form action="">
                        <p class="text">Благодарим вас за интерес к IT PROM. Пожалуйста, заполните форму ниже, чтобы задать вопрос или сообщить о технической проблеме.</p>
                        <div class="radio">
                            <div>
                                <input type="radio" id="choice1" name="choice" value="choice1" checked>
                                <label for="choice1">Вступить в союз</label>
                            </div>

                            <div>
                                <input type="radio" id="choice2" name="choice" value="choice2">
                                <label for="choice2">Другие деловые запросы</label>
                            </div>

                            <div>
                                <input type="radio" id="choice3" name="choice" value="choice3">
                                <label for="choice3">Сообщить о технической проблеме сайта</label>
                            </div>
                        </div>
                        <div class="input">
                            <label for="">имя*</label>
                            <input type="text" name="" id="" required>
                            <label for="">электронная почта*</label>
                            <input type="email" name="" id="" required>
                            <label for="">номер телефона</label>
                            <input type="text" v-maska="['+7 (###) ##-##-##', '+7 (###) ###-##-##']" name="" id="">
                            <label for="">компания</label>
                            <input type="text" name="" id="">
                            <label for="">сообщение*</label>
                            <textarea name="" id="" required></textarea>
                        </div>
                        <div class="captcha">
                            <label for="">проверка безопасности*</label>
                            <img src="images/captcha.jpg" alt="captcha">
                        </div>
                        <p class="link">IT PROM обязуется защищать вашу информацию. Ваша информация будет использоваться в соответствии с действующим законодательством о конфиденциальности данных, нашими внутренними политиками и нашей <a href="#">политикой конфиденциальности</a>.</p>
                        <button type="submit">Отправить на рассмотрение</button>
                    </form>
                </div>
            </section>

        </main>

        <footer class="footer">
            <div class="container">
                <div class="footer__top">
                    <div class="content">
                        <a href="#" class="logo">
                            <img src="images/icons/logo-2.svg" alt="logo">
                        </a>
                        <p>
                            Союз производителей инфотехнологий и субъектов инфокоммуникаций
                        </p>
                    </div>


                    <div class="content">
                        <a href="#" class="link">Связаться с нами</a>
                        <div class="messenger">
                            <a href="#" class="email">info@itprom.info</a>
                            <div class="network">
                                <a href="#"><img src="images/icons/whatsapp.svg" alt="icon"></a>
                                <a href="#"><img src="images/icons/facebook.svg" alt="icon"></a>
                                <a href="#"><img src="images/icons/instagram.svg" alt="icon"></a>
                                <a href="#"><img src="images/icons/telegram.svg" alt="icon"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer__bottom">
                    <p>© 2021 IT Prom.</p>
                    <p>Все права защищены.</p>
                    <a href="#">Политика конфиденциальности</a>
                    <div class="content">
                        <p>Разработано</p>
                        <a href="#"> <img src="images/icons/logo-im.svg" alt="logo"></a>
                    </div>
                </div>
            </div>
        </footer>

        <div class="wrapper" :class="{'wrapper__show': isWrapper}" @click="toggleWrapper">
        </div>

        <div class="search" :class="[{'search__show': isSearch}, {'search__show search__show-solo': isSearchSolo}]">
            <div class="container">
                <a href="index.html" class="search__logo" v-if="isMenu">
                    <img src="images/icons/logo.svg" alt="logo">
                </a>
                <form action="" method="">
                    <input type="text" placeholder="Поиск">
                    <button type="submit">
                        <i class="bi bi-search"></i>
                    </button>
                    <div @click="toggleWrapper">
                        <i class="bi bi-x-lg"></i>
                    </div>
                </form>
            </div>
        </div>

        <div class="sidebar" :class="{'sidebar__show': isSidebar}">
            <ul class="sidebar__menu">
                <li><button @click="toggleMenuTab(1)" :class="{'active': menuTabValue == 1}">О Союзе</button></li>
                <li><button @click="toggleMenuTab(2)" :class="{'active': menuTabValue == 2}">Вступить в Союз</button>
                </li>
                <li><button @click="toggleMenuTab(3)" :class="{'active': menuTabValue == 3}">Аналитика</button></li>
                <li><a href="#">Новости</a></li>
                <li><a href="#">Партнеры</a></li>
                <li><a href="#">Полезное</a></li>
                <li><a href="#">Электронная платформа</a></li>

                <ul class="sidebar__lang">
                    <li><a href="#">KAZ</a></li>
                    <li><a href="#" class="active">RUS</a></li>
                    <li><a href="#">ENG</a></li>
                </ul>
            </ul>
            <div class="sidebar__tabs">
                <transition name="fade" mode="out-in" key="open">
                    <div class="tab" v-if="menuTabValue == 1" key="menuTabValue-1">
                        <h3>О Союзе</h3>
                        <ul class="links">
                            <li><a href="#">Page link ...</a></li>
                            <li><a href="#">Page link ...</a></li>
                            <li><a href="#">Page link ...</a></li>
                            <li><a href="#">Page link ...</a></li>
                            <li><a href="#">Page link ...</a></li>
                            <li><a href="#">Page link ...</a></li>
                            <li><a href="#">Page link ...</a></li>
                            <li><a href="#">Page link ...</a></li>
                            <li><a href="#">Page link ...</a></li>
                            <li><a href="#">Page link ...</a></li>
                            <li><a href="#">Page link ...</a></li>
                        </ul>
                    </div>
                    <div class="tab" v-if="menuTabValue == 2" key="menuTabValue-2">
                        <h3>Вступить в Союз</h3>
                        <ul class="links">
                            <li><a href="#">Page link ...</a></li>
                            <li><a href="#">Page link ...</a></li>
                            <li><a href="#">Page link ...</a></li>
                            <li><a href="#">Page link ...</a></li>
                            <li><a href="#">Page link ...</a></li>
                            <li><a href="#">Page link ...</a></li>
                            <li><a href="#">Page link ...</a></li>
                            <li><a href="#">Page link ...</a></li>
                            <li><a href="#">Page link ...</a></li>
                            <li><a href="#">Page link ...</a></li>
                            <li><a href="#">Page link ...</a></li>
                        </ul>
                    </div>
                    <div class="tab" v-if="menuTabValue == 3" key="menuTabValue-3">
                        <h3>Аналитика</h3>
                        <ul class="links">
                            <li><a href="#">Page link ...</a></li>
                            <li><a href="#">Page link ...</a></li>
                            <li><a href="#">Page link ...</a></li>
                            <li><a href="#">Page link ...</a></li>
                            <li><a href="#">Page link ...</a></li>
                            <li><a href="#">Page link ...</a></li>
                            <li><a href="#">Page link ...</a></li>
                            <li><a href="#">Page link ...</a></li>
                            <li><a href="#">Page link ...</a></li>
                            <li><a href="#">Page link ...</a></li>
                            <li><a href="#">Page link ...</a></li>
                        </ul>
                    </div>
                </transition>
            </div>
            <div class="sidebar__wrapper" @click="toggleWrapper"></div>
        </div>

        <div class="sidebar-mobile" :class="{'sidebar-mobile__show': isSidebar}">
            <a href="index.html" class="sidebar-mobile__logo">
                <img src="images/icons/logo.svg" alt="logo">
            </a>
            <ul class="sidebar-mobile__menu">
                <li>
                    <dropdown inline-template>
                        <div class="sidebar-dropdown">
                            <div class="sidebar-dropdown__head" :class="{'sidebar-dropdown__head-show' : isShow}" @click="dropdownToggle">О Союзе</div>
                            <ul v-if="isShow" class="sidebar-dropdown__body">
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                            </ul>
                        </div>
                    </dropdown>
                </li>
                <li>
                    <dropdown inline-template>
                        <div class="sidebar-dropdown">
                            <div class="sidebar-dropdown__head" :class="{'sidebar-dropdown__head-show' : isShow}" @click="dropdownToggle">Вступить в Союз</div>
                            <ul v-if="isShow" class="sidebar-dropdown__body">
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                            </ul>
                        </div>
                    </dropdown>
                </li>
                <li>
                    <dropdown inline-template>
                        <div class="sidebar-dropdown">
                            <div class="sidebar-dropdown__head" :class="{'sidebar-dropdown__head-show' : isShow}" @click="dropdownToggle">Аналитика</div>
                            <ul v-if="isShow" class="sidebar-dropdown__body">
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                                <li><a href="#">Page link ...</a></li>
                            </ul>
                        </div>
                    </dropdown>
                </li>
                <li><a href="#">Новости</a></li>
                <li><a href="#">Партнеры</a></li>
                <li><a href="#">Полезное</a></li>
                <li><a href="#">Электронная платформа</a></li>
            </ul>
            <ul class="sidebar-mobile__lang">
                <li><a href="#">KAZ</a></li>
                <li><a href="#" class="active">RUS</a></li>
                <li><a href="#">ENG</a></li>
            </ul>
        </div>

    </vue>
    <script src="https://cdn.jsdelivr.net/npm/maska@latest/dist/maska.js"></script>
    <script src="js/component-vue/slider.js"></script>
    <script src="js/component-vue/dropdown.js"></script>
    <script src="js/vivus.min.js"></script>
    <script src="js/script.js"></script>
</body>

</html>